<article class="bottom-space">
    <%= article_cover @article.cover.url %>

    </header>
    <div class="row center-xs">
        <div class="col-xs-12 ligth-border col-md-7">
            <h1 class="be-big blue"><%= @article.title %></h1>
            <p class="text-right be-small"> 
                <%= link_to "Atras", ariticles_path, class:"underline" %>
                <span class="red"><%= @article.visits_count %> Visitas(s)</span>
                -
                <% unless @article.user.nil? %>
                Escrito por: <%= @article.user.email %>
                <% end %>
            </p> 

            <div class="text-justify">   
                <%= @article.body %>
            </div> 

            <div>
                <h3>Comentarios</h3>
                <%= render '/comments/form' %>   
            </div>

        </div>
    </div>
</article>




<h1><%= @article.title %></h1>
<% unless @article.user.nil? %>
<p>
    Escrito por: <%= @article.user.email %>
</p> 
<% end %>
<div class="field">
    <% @article.categories.each do |category| %>
        <%= link_to category.name, category ,style:"color:#{ category.color }" %>
    <% end %>
</div>
<div class="field">
    <%= image_tag @article.cover.url(:thumb) %>
</div>

<p>
    Visitas : <%= @article.visits_count %>
</p>
<div>   
    <%= @article.body %>
</div>
<div>
   
</div>
<div class="field">
    <h3>Comentarios</h3>
    <%= render '/comments/form' %>   
<ul>
    <% @article.comments.each do |comment| %>
    <li>
        <%= comment.body %> - <%= comment.user.email %>
    </li>
    <% end %>
</ul>
</div>
<div>
    <%= link_to "Editar", edit_ariticle_path(@article) %>
</div>