<header>
    <nav class = "be-red white large-padding">
    <ul class = "no-list row center-xs middle-xs">
        <li class = "no-margin" id="logo">
        <%= link_to "Blog Facilito", root_path %>
        </li>
        <li class = "col-md">
            <%= link_to "Articulos", ariticles_path %>
        </li>
        <% @categories.each do |category| %>
            <li class = "col-md">
                <%= category.name %>
            </li>
        <% end %>
       
    <!-- Configuracion de usuario -->
        <% if user_signed_in? %>
        <li class = "col-md">
            <%= link_to "Cerrar Sesión",  destroy_user_session_path , method: :delete %>
        </li>
        <% else %>
        <li class = "col-md">               
            <%= link_to "Iniciar Sesión",   new_user_session_path , method: :get %>
        </li>
        <li class = "col-md">
            <%= link_to "Crear Cuenta",  new_user_registration_path , method: :get %>
        </li>
        <% end %>
    </ul>
    </nav>
</header>